USE [formDB]
GO
/****** Object:  StoredProcedure [dbo].[SP_DISPLAY]    Script Date: 15-06-2023 02:44:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_DISPLAY]
AS
BEGIN
SELECT ISNULL(StaffNo,'') StaffNo,ISNULL(FullName,'') FullName,ISNULL(Designation,'')Designation,ISNULL(Department,'') Department,ISNULL(Form_name,'') FormName from Request_Form1
UNION ALL
SELECT ISNULL(StaffNo,'') StaffNo,ISNULL(FullName,'') FullName,ISNULL(Designation,'')Designation,ISNULL(Department,'') Department,ISNULL(Form_name,'') FormName from IMAC
UNION 
SELECT ISNULL(StaffNo,'') StaffNo,ISNULL(FullName,'') FullName,ISNULL(Designation,'')Designation,ISNULL(Department,'') Department,ISNULL(Form_name,'') FormName from Printer_Cartinage1
END